.footer {
    background-color: $dark;
    color: $light;
    
    .footer-link {
      color: rgba($light, 0.7);
      
      &:hover, &:focus {
        color: $primary;
      }
    }
    
    .social-icon {
      color: $secondary;
      
      &:hover, &:focus {
        color: $primary;
      }
    }
  }